<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RAM - RUC Allocation Manager</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/ram-overwrites.css" />
    <link rel="stylesheet" href="~/css/ram-css.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand p-0 m-0" asp-area="" asp-page="/Index">
                    <img src="~/assets/ram-cut-icon.png" class="ram-icon-sm">
                    <span class="text-white-hover">RAM - RUC Allocation Manager</span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        @if (Context.User.HasClaim(System.Security.Claims.ClaimTypes.Role, Models.User.UserType.Leader.ToString()))
                        {
                            <li><a asp-route-id="-1" asp-page="/LeaderLandingPage/LeaderLandingPage">Leader</a></li>
                        }
                        @if (Context.User.HasClaim(System.Security.Claims.ClaimTypes.Role, Models.User.UserType.Employee.ToString()))
                        {
                            <li><a asp-page="/EmployeeLandingPage/EmployeeLandingPage">Employee</a></li>
                        }
                        @if (Context.User.HasClaim(System.Security.Claims.ClaimTypes.Role, Models.User.UserType.Adminstrator.ToString()))
                        {
                            <li><a asp-page="/SettingsPage/SettingsPage">Indstillinger</a></li>
                        }
                        @if (!Context.User.Identity.IsAuthenticated)
                        {
                            <li><a asp-page="/LoginPage/LoginPage">Login</a></li>
                        }
                        else
                        {
                            <li><a asp-page="/LoginPage/LogoutPage">Logout</a></li>
                        }

                    </ul>
                    <ul>
                        <li><a asp-page="/DeleteB4TurnIn/FillDatabasePage">Fill database</a></li>
                    </ul>
                    <ul>
                        <li><a asp-page="/EditEmployeePage/AllocateHoursPage">Allocate hours test</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container mw-0 pt-3 pb-3">
        <main role="main">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">@RenderBody()</div>
                <div class="col-1"></div>
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <span><span class="text-ram-gold">&copy; 2022</span> - RAM - RUC Allocation Manager - <a asp-area="" asp-page="/Privacy">Privacy</a></span>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
