@page "{id:int}"
@model RAM___RUC_Allocation_Manager.Pages.EditUser.DeleteUserModel
@{
}

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#myModal").modal({ backdrop: "static" });
            $("#myModal").modal("show");
        });
    </script>
}

<div class="row">

    <div class="col-1"></div>
    <div class="col-10">
        <div class="container" style="display: flex; justify-content: center;">
            <img src="~/assets/ram-full-icon-bg.png" class="ram-icon-bg">
        </div>
    </div>
    <div class="col-1"></div>

</div>

<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h2 class="modal-title">Slet Bruger</h2>
                <span><a asp-page="../LeaderLandingPage/LeaderLandingPage"><i class="fa-solid fa-lg fa-xmark"></i></a></span>
            </div>

            <div class="modal-body">

                <div class="pb-3">
                    <span>Er du sikker på du gerne vil slette <b>@Model.User.Name (@Model.User.Username)</b>'s bruger?</span>
                </div>

            </div>

            <div class="modal-footer">

                <form method="post" class="w-100">

                    <div class="row">
                        <div class="col-6">
                            <a class="w-100 btn btn-primary" asp-page="../LeaderLandingPage/LeaderLandingPage">Annullér</a>
                        </div>
                        <div class="col-6">
                            <input type="hidden" name="userId" value="@Model.User.Id"/>
                            <button type="submit" class="w-100 btn btn-danger">Acceptér</button>
                        </div>
                    </div>

                </form>

            </div>

        </div>
    </div>
</div>