@page "{id:int}"
@model RAM___RUC_Allocation_Manager.Pages.EditUser.DeleteUserModel
@{
}

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#myModal").modal({ backdrop: "static" });
            $("#myModal").modal("show");
        });
    </script>
}

<div class="row">

    <div class="col-1"></div>
    <div class="col-10">
        <div class="container" style="display: flex; justify-content: center;">
            <img src="~/assets/ram-full-icon-bg.png" class="ram-icon-bg">
        </div>
    </div>
    <div class="col-1"></div>

</div>

<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Slet bruger</h5>
                <a type="button" class="close" asp-page="../LeaderLandingPage/LeaderLandingPage">&times;</a>
            </div>

            <div class="modal-body">
                <h1>Delete Confimation</h1>
                <div class="alert alert-danger">
                    <h5>Er du sikker på at slette brugeren - @Model.User.Name</h5>
                    <form method="post">
                        <button type="submit" asp-page-handler="DeleteUser" class="btn btn-danger">Ja</button>
                        <a class="btn btn-primary" asp-page="../LeaderLandingPage/LeaderLandingPage">Annuller</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>