@page
@model RAM___RUC_Allocation_Manager.Pages.LoginPage.LoginPageModel
@{
}
@section Scripts
{
    <script>

        //JQuery function to "click" the anchor tag for the pageSection.
        $(document).ready(function () {

            alert("Dette program er en prototype, elementer er subject to change, visse bugs og fejl kan forekomme.")

        });

    </script>
}
<div class="row">

    <div class="col-1"></div>
    <div class="col-10">
        <div class="container" style="display: flex; justify-content: center;">

            <form method="post" asp-page-handler="Login">
                <img src="~/assets/ram-full-icon-bg.png" class="ram-icon-bg">

                <div class="form-group">
                    <p class="w-100 text-center text-danger">@Model.ErrorMessage</p>
                </div>

                <div class="form-group">
                    <label class="w-100 text-center" asp-for="EnteredUsername">Brugernavn</label>
                    <input class="w-100" asp-for="EnteredUsername" />
                </div>

                <div class="form-group">
                    <label class="w-100 text-center" asp-for="EnteredPassword">Kodeord</label>
                    <input class="w-100" type="password" asp-for="EnteredPassword" />
                </div>

                <div class="form-group w-100">
                    <button class="btn btn-primary w-100">Log in</button>
                </div>

            </form>
        </div>
    </div>
    <div class="col-1"></div>

</div>