:root {
    --ram-background: rgb(43, 42, 51);
    --ram-element-background: rgba(255, 255, 255, .05);
    --ram-gold: rgb(218, 165, 32);
    --ram-white: rgb(255, 255, 255);
    --ram-white-secondary: rgb(206, 212, 218);
    --ram-danger: #dc3545;
}

.vertical-align-md {
    vertical-align:middle;
}

img.ram-icon-sm {
    height:3rem;
    width:3rem;
}

img.ram-icon-bg {
    height: 25rem;
    width: 25rem;   
}

.mw-0 {
    max-width: none !important;
}

table.leader-landing-page {
    width: 100%;
}

table.employee-landing-page {
    width: 100%;
}

a i.fa-solid, a i.fa, .btn-link, .btn-link i {
    transition: all 0.5s ease;
}

a i.fa-solid:hover, a i.fa:hover, .btn-link:hover, .btn-link i:hover {
    color: var(--ram-gold);
    text-decoration: none;
}

table.allocated-hours-table td {
    border-top: 0.5px solid var(--ram-gold);
    border-bottom: 0.5px solid var(--ram-gold);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.text-ram-gold {
    color: var(--ram-gold);
}

section {
    position: absolute;
    transform: translateY(-3.5rem);
}

section.top {
    position: fixed;
    transform: translateY(0rem);
}
