body {
    background-color: var(--ram-background) !important;
}

header {
    background-color: var(--ram-background) !important;
}

a span {
    vertical-align: middle;
}

a {
    transition: all 0.5s ease;
}

a:hover {
    color: var(--ram-gold);
    text-decoration: none;
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

hr {
    border-top: 1px solid var(--ram-gold);
    width: 100%;
}

.btn-primary, .btn-primary i, .btn-outline-primary, .btn-outline-primary i {
    transition: all 0.5s ease;
    color: var(--ram-white);
    border-color: var(--ram-white-secondary) !important;
    background-color: var(--ram-element-background);
}

.btn-primary:hover, .btn-primary i:hover, .btn-outline-primary:hover, .btn-outline-primary i:hover {
    color: var(--ram-gold);
    border-color: var(--ram-white-secondary) !important;
    background-color: var(--ram-element-background);
}

.btn-danger, .btn-danger i, .btn-outline-danger, .btn-outline-danger i {
    transition: all 0.5s ease;
    color: var(--ram-white);
    border-color: var(--ram-danger) !important;
    background-color: var(--ram-element-background);
}

.btn-danger:hover, .btn-danger i:hover, .btn-outline-danger:hover, .btn-outline-danger i:hover {
    color: var(--ram-gold);
    border-color: var(--ram-danger) !important;
    background-color: var(--ram-element-background);
}

.border, .border-top, .border-right, .border-left, .border-bottom {
    border-color: var(--ram-gold) !important;
}

.text-white {
    color: var(--ram-white);
}

.text-white-hover {
    transition: all 0.5s ease;
}

.text-white-hover:hover {
    color: var(--ram-gold) !important;
}

h1, h2, h3, h4, h5, h6, p, span, i, a, table, label {
    color: var(--ram-white);
}

.input-group input, 
.input-group textarea,
.form-group select,
span.form-control {
    border-radius: .25rem !important;
    background-color: var(--ram-element-background);
    color: var(--ram-white);
    border-color: var(--ram-white-secondary) !important;
}

.input-group input:focus,
.input-group textarea:focus,
.form-group select:focus,
span.form-control:focus {
    background-color: rgba(255,255,255, .15);
    color: var(--ram-white);
    border-color: var(--ram-white-secondary) !important;
}

.form-control:disabled, .form-control[readonly] {
    background-color: rgba(255,255,255, .25);
}

.text-muted {
    color: var(--ram-white-secondary) !important;
}