@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>

    TODO INDEX:
    
    OnLoad check if User is logged in;
        TRUE;   Redirect to the LandingPage of the given user type.
        FALSE;  Redirect to LoginPage;
    
</h1>